@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li
{
    list-style: none;
}

header .row-1
{
    display: flex;
    flex-direction: row;
    padding: 45px 16px;
    gap: 10px;
    justify-content: space-between;
}

header .row-2
{
    display: none;
}

header .row-1 .nav-bar
{
    display: none;
}

header .row-1 .logo-text
{
    display: none;
}

header .row-1 .column-2  .search-bar
{
    display: flex;
    flex-direction: row;
    padding: 16px;
    height: 48px;
    width: 300px;
    border-radius: 12px;
    background: var(--Gray, #F5F5F5);
}

header .row-1 .column-2  .profile-div
{
    display: none;
}

header .row-1 .column-2  .bookmark-div
{
    display: none;
}


header .row-1 .column-2  .search-bar input
{
    border: none;
    background: var(--Gray, #F5F5F5);
    padding-bottom: 5px;
    width: 220px;
}

header .row-1 .column-2  .search-bar input:focus
{
    outline: none;
}

/* main css => */
main
{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .direct-div
{
    padding-right: 290px;
}

main .direct-div .span-1
{
    font-family: 'Roboto' , sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
}

main .direct-div .span-2
{
    font-family: 'Roboto' , sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
}

main .writer
{
    padding-right: 15px;
    padding-top: 35px;
}

main .content-header
{
    padding-right: 190px;
    padding-top: 35px;
}

main .content-header p
{
    font-family: 'Roboto' , sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    border-left: 4px solid #F81539;
    padding-left: 5px;
}

main .cards2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-right: 20px;
    gap: 20px;
}

main .cards2 .card2
{
    width: Fixed(358px);
    height: Fixed(385px);
    padding: 10px;
    top: 60px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0px 0px 32px 0px #00000012;
}

main .cards2 .card2 .part2
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 15px;
}

main .cards2 .card2 .part2 .title 
{
    font-family: 'Roboto' , sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

main .cards2 .card2 .part2 .desc 
{
    font-family: 'Roboto' , sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    max-width: 328px;
}

main .pages
{
    padding-top: 30px;
    align-items: center;
    padding-right: 35px;
}





/* main css => */


footer
{
    display: none;
}